
.nav-button {
  font-weight: bold;
  width: 90%;
  height: 200px;
  background-color: slateblue;
  color: white;
  margin: auto;
  cursor: pointer;
  font-size: 6em;
  display: block;
}

.nav-button-option {
  font-weight: bold;
  width: 90%;
  height: 200px;
  background-color: deeppink;
  color: white;
  margin:  30px auto;
  cursor: pointer;
  font-size: 5em;
  display: block;
}
